<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Website | Home</title>
    <meta name="author" content="Jack" />
    <meta name="description" content="This is a template website" />
    <meta name="keywords" content="website, html, css" />
    <link rel="apple-touch-icon" href="./images/favicon.png" />
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    />
    <!-- https://www.drawspace.com/ -->
  </head>

  <body>
    <!-- header -->
    <header>
      <nav class="container">
        <a href="/">
          <!-- <img
            class="header-logo-img"
            src="https://i.ibb.co/wwLhz98/logo.png"
            alt="logo"
          /> -->
          <div class="header-logo">Website</div>
        </a>

        <i class="fas fa-bars header-hamburger"></i>

        <div class="header-link-list-wrapper">
          <ul class="header-link-list">
            <li><a class="header-link" href="#">Home</a></li>
            <li><a class="header-link" href="./about.html">About</a></li>
            <li>
              <a class="header-link header-link-special" href="#">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- hero -->
    <section class="hero nav-push-down">
      <div class="container hero-container">
        <div class="hero-message">
          <h1>My Website</h1>
          <p>This is a website template with bare minimum setup.</p>
          <a class="link-btn" href="#">Find out more</a>
        </div>
        <img class="hero-image" src="./images/mobile.jpg" alt="hero" />
      </div>
    </section>

    <!-- cards -->
    <section>
      <div class="cards">
        <div class="container">
          <p class="p-special">Website section paragraph</p>
          <h2>Major Section Title</h2>
          <ul class="cards-list">
            <li class="cards-item">
              <i class="fas fa-home cards-icon"></i>
              <h3>Card 1</h3>
              <p>This is card section # one.</p>
            </li>
            <li class="cards-item">
              <i class="fas fa-home cards-icon"></i>
              <h3>Card 2</h3>
              <p>This is card section # two.</p>
            </li>
            <li class="cards-item">
              <i class="fas fa-home cards-icon"></i>
              <h3>Card 3</h3>
              <p>This is card section # three.</p>
            </li>
            <li class="cards-item">
              <i class="fas fa-home cards-icon"></i>
              <h3>Card 3</h3>
              <p>This is card section # four.</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- services -->
    <section class="section-bg-1">
      <!-- <img src="images/mobile.jpg" alt="background" /> -->
      <div class="container">
        <div class="services">
          <img src="images/mobile.jpg" alt="services" />
          <div class="services-message services-left">
            <p class="p-special">Lorem ipsum dolor sit amet.</p>
            <h2>Stop Dreaming,<br />Start Drawing.</h2>
            <p>
              Whether you want to learn a new skill, spark your creativity, or
              boost your memory, Drawspace lessons are designed to benefit
              people of all ages and skill levels.
            </p>
            <a class="link-btn" href="#">Find out more</a>
          </div>
        </div>
      </div>
    </section>

    <!-- mid -->
    <section>
      <div class="container">
        <div class="mid">
          <h2>Connect With Us</h2>
          <form>
            <input
              type="email"
              class="form-control"
              id="subscribe"
              placeholder="example@email.com"
            />
            <button class="btn-1 mid-btn-overwrite">Subscribe</button>
          </form>
          <p>Receive updates & information!</p>
        </div>
      </div>
    </section>

    <!-- pricing -->
    <section>
      <div class="container">
        <ul class="pricing-wrapper">
          <li class="pricing-plan">
            <div class="pricing-card">
              <h4 class="pricing-header">Free</h4>
              <div class="pricing-cost">
                <span class="pricing-bold">$0</span>/day
              </div>
            </div>
            <ul class="pricing-list">
              <li>
                Lorem ipsum, dolor sit amet consec tetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum, dolor sit amet consec tetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum, dolor sit amet consec tetur adipisicing elit.
              </li>
            </ul>
          </li>
          <li class="pricing-plan">
            <div class="pricing-card">
              <h4 class="pricing-header">Standard</h4>
              <div class="pricing-cost">
                <span class="pricing-bold">$10</span>/day
              </div>
            </div>
            <ul class="pricing-list">
              <li>
                Lorem ipsum, dolor sit amet consec tetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum, dolor sit amet consec tetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum, dolor sit amet consec tetur adipisicing elit.
              </li>
            </ul>
          </li>
          <li class="pricing-plan">
            <div class="pricing-card">
              <h4 class="pricing-header">Plus</h4>
              <div class="pricing-cost">
                <span class="pricing-bold">$20</span>/day
              </div>
            </div>
            <ul class="pricing-list">
              <li>
                Lorem ipsum, dolor sit amet consec tetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum, dolor sit amet consec tetur adipisicing elit.
              </li>
              <li>
                Lorem ipsum, dolor sit amet consec tetur adipisicing elit.
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>

    <!-- footer -->
    <footer>
      <div class="footer-main container link-style">
        <ul class="footer-column">
          <li class="footer-title">Website</li>
          <li class="footer-social-list">
            <a href="#">
              <i class="fab fa-instagram footer-social-icon"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook-f footer-social-icon"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter footer-social-icon"></i>
            </a>
            <a href="#">
              <i class="fab fa-youtube footer-social-icon"></i>
            </a>
          </li>
          <li><a class="business-email" href="#" title="Email us"></a></li>
          <li><a class="business-phone" href="#" title="Call us"></a></li>
        </ul>
        <ul class="footer-column">
          <li>
            <h4>Company</h4>
          </li>
          <li><a href="/">About</a></li>
          <li><a href="/">Privacy</a></li>
          <li><a href="/">Terms and Conditions</a></li>
        </ul>
        <ul class="footer-column">
          <li>
            <h4>Support</h4>
          </li>
          <li><a href="/">Email</a></li>
          <li><a href="/">Signup</a></li>
          <li><a href="/">Login</a></li>
        </ul>
      </div>

      <div class="footer-copyright">
        &copy; 2020 Adam Smith. All rights reserved.
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
