:root {
  --theme-color: #3376b9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

/* policy */
.policy {
  margin: 2rem auto;
}

.policy h1,
.policy h2,
.policy h3,
.policy h4 {
  margin-bottom: 1rem;
  color: var(--theme-color);
}

.policy h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.policy p {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }

  /* policy */
}
