:root {
  --theme-color: #3376b9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Varela Round', sans-serif;
}
textarea {
  font-family: 'Varela Round', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 14px;
}

/*******************************
*
* UTILITIES
*
*******************************/

/* layout */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Parallax Styles */
.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(-5px);
}

.background__image {
  /* filter: brightness(0.5); */
}

.foreground {
  margin-top: auto;
  margin-bottom: 50px;

  transform-origin: 0;
  transform: translateZ(3px) scale(0.625);

  /* Uncomment the code below to see the difference the scale property makes! */
  /* transform: translateZ(3px); */
  /* transform: translateZ(0) scale(1); */
}

.foreground h1 {
  font-size: 36px;
  color: white;
}
