:root {
  --theme-color: #3376b9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 14px;
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* cards */
.cards {
  padding: 4rem 0 5rem 0;
  border-bottom: 1px solid grey;
}

.cards-special {
  color: var(--theme-color);
  text-align: center;
}

.cards h2 {
  margin: 1rem 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

.cards-list {
  padding-top: 2rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.5rem;
}

.cards-item {
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s;
}

.cards-item:hover {
  box-shadow: 0 0 10px 2px #ebecf0;
  transform: translateY(-4px);
  transition: 0.2s;
}

.cards-icon {
  font-size: 3rem;
}

.cards h3 {
  margin: 1.5rem 0 1rem 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.cards p {
  font-size: 1.2rem;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }

  /* cards */
  .cards-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
}
