:root {
  --theme-color: #3376b9;
  --theme-color-2: #04284d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Varela Round', sans-serif;
}

textarea {
  font-family: 'Varela Round', sans-serif;
}

a {
  text-decoration: none;
}

.link-style a {
  color: grey;
}

.link-style a:hover {
  color: #000;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2.6rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  line-height: 150%;
}

.p-special {
  color: var(--theme-color);
}

::placeholder {
  color: #afafaf;
  opacity: 1; /* firefox */
}

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }
}

/*******************************
*
* UTILITIES
*
*******************************/

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.nav-push-down {
  margin-top: 5rem;
}

.section-bg-1 {
  background: #fffaf1;
}

.only-desktop {
  /* doesn't show up on mobile */
  display: none !important;
}

.fade-initial {
  opacity: 0;
  transform: translateY(20vh);
}

.fade {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s, transform 0.5s;
}

.btn {
  font-size: 1.2rem;
  padding: 1rem 2.3rem;
  cursor: pointer;
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
  color: #fff;
  transition: 0.2s;
}

.btn:hover {
  background: transparent;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

.link-btn {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.9rem 2.3rem;
  cursor: pointer;
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
  color: #fff;
  transition: 0.2s;
}

.link-btn:hover {
  background: transparent;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

@media screen and (min-width: 700px) {
  .only-desktop {
    /* doesn't show up on mobile */
    display: block !important;
  }
}

/*******************************
*
* header
*
*******************************/
header {
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  transition: 0.5s;
  z-index: 800;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem 0;
}

.header-logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--theme-color);
}

.header-hamburger {
  cursor: pointer;
  color: var(--theme-color);
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 50%;
}

.header-hamburger:hover {
  color: var(--theme-color-2);
}

.header-link-list-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  transition: 0.3s;
  z-index: 900;
}

.header-link-list {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 2rem;
  background: var(--theme-color-2);
  width: 65%;
  height: 100vh;
  border-right: 1px solid #ccc;
  z-index: 1000;
}

.header-link {
  color: #fff;
  display: block;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
}

.header-link:hover {
  color: var(--theme-color);
}

.header-toggle {
  transform: translateX(0px) !important;
}

@media screen and (min-width: 700px) {
  .header-hamburger {
    display: none !important;
  }

  .header-link-list-wrapper {
    all: unset;
  }

  .header-link-list {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: transparent;
    padding: 0;
    width: auto;
    height: auto;
    border-right: none;
  }

  .header-link {
    color: var(--theme-color);
    padding: 0.5rem;
    margin: 0 5px;
    border-bottom: 2px solid #00000000;
    font-size: 1.2rem;
  }

  .header-link:hover {
    border-bottom: 2px solid var(--theme-color);
  }

  .header-link-special {
    color: var(--theme-color);
    margin-left: 10px;
    padding: 0.4rem 1.2rem 0.6rem 1.2rem;
    border: 2px solid var(--theme-color);
  }

  .header-link-special:hover {
    color: #fff;
    background: var(--theme-color);
    transition: 0.2s;
  }
}

/*******************************
*
* hero
*
*******************************/

.hero {
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url('images/mobile.jpg') no-repeat center;
  background-size: cover; */
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.hero-container {
  padding: 2rem 0;
}

.hero-message {
  height: 650px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}

.hero-message h1 {
  margin-bottom: 1.5rem;
  /* text-shadow: 0 0 5px var(--theme-color); */
}

.hero-message p {
  margin-bottom: 3rem;
  /* text-shadow: 0 0 5px var(--theme-color); */
}

@media screen and (min-width: 700px) {
  /* .hero {
    background: url('images/desktop.jpg') no-repeat center;
  } */

  .hero-container {
    display: flex;
  }

  .hero-message {
    width: 50%;
  }

  .hero-image {
    width: 55%; /* set proportional width */
    flex-shrink: 0; /* prevent horizontal shrink*/
    align-self: center; /* prevent image vertical stretch*/
  }
}

/*******************************
*
* cards
*
*******************************/

.cards {
  padding: 5rem 0 6rem 0;
  border-bottom: 1px solid grey;
}

.cards p {
  margin-bottom: 1rem;
  text-align: center;
}

.cards h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.cards-list {
  display: grid;
  /* also change media query */
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1.5rem;
}

.cards-item {
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s;
}

.cards-item:hover {
  box-shadow: 0 0 10px 2px #ebecf0;
  transform: translateY(-4px);
  transition: 0.2s;
}

.cards-icon {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.cards h3 {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 700px) {
  .cards-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
}

/*******************************
*
* services
*
*******************************/

.services {
  padding: 4rem 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}

.services-message {
  text-align: center;
}

.services p {
  margin-bottom: 1rem;
}

.services h2 {
  margin-bottom: 2rem;
}

.services img {
  max-width: 100%;
}

@media screen and (min-width: 700px) {
  /* services */
  .services {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .services-message {
    text-align: start;
  }

  .services img {
    width: 55%; /* set proportional width */
    flex-shrink: 0; /* prevent horizontal shrink*/
    align-self: center; /* prevent image vertical stretch*/
  }

  /* left-right ordering only apples on desktop */
  .services-left {
    order: -1;
  }

  .services h2 {
    text-align: start;
  }
}

/*******************************
*
* subscribe
*
*******************************/

.subscribe {
  text-align: center;
  padding: 4rem 0 5rem 0;
}

.subscribe form {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
  gap: 1rem;
}

.subscribe input {
  padding: 1rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 700px) {
  .subscribe form {
    display: flex;
    flex-flow: row nowrap;
  }

  .subscribe input {
    width: 350px;
  }
}

/*******************************
*
* message
*
*******************************/

form {
  max-width: 600px;
  padding: 2rem;
  border: 1px solid #ccc;
}

.form-group {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

form label {
  padding: 0.8rem 0;
}

input,
select,
textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

@media screen and (min-width: 700px) {
  form {
    max-width: 600px;
    margin: 4rem auto;
    padding: 1.5rem;
  }
}

/*******************************
*
* pricing
*
*******************************/

.pricing {
  margin: 4rem 0;
}

.pricing-options {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}

.pricing-card {
  border: 1px solid var(--theme-color);
  border-radius: 5px;
  text-align: center;
  padding: 2rem 3rem;
  transition: 0.7s;
}

.pricing-card:hover {
  border: 2px solid var(--theme-color);
  transform: scale(1.03);
  transition: 0.7s;
}

.pricing-header {
  font-size: 1.7rem;
  font-weight: 400;
  padding-bottom: 2rem;
  border-bottom: 1px solid #a7a7a7;
}

.pricing-cost {
  font-size: 1.2rem;
  padding: 1rem 0;
  border-bottom: 1px solid #a7a7a7;
}

.pricing-bold {
  font-size: 3rem;
  font-weight: 600;
}

.pricing-list {
  padding: 1rem 0;
  border-bottom: 1px solid #a7a7a7;
}

.pricing-list li {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.pricing-list .fa-check {
  color: rgb(0, 155, 0);
}

.pricing-card .link-btn {
  margin-top: 2rem;
}

@media screen and (min-width: 700px) {
  .pricing-options {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 0px;
    gap: 2rem;
  }
}

/*******************************
*
* gallery
*
*******************************/

.gallery {
  padding: 3rem 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.gallery-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.gallery-item {
  overflow: hidden;
  line-height: 0;
  width: 50%;
  height: 50vw;
}

.gallery-item img {
  object-fit: cover;
  object-position: -50% -50%;
  transition: 0.7s;
}

.gallery-item img:hover {
  transform: scale(1.05, 1.05);
  transition: 0.7s;
}

@media screen and (min-width: 700px) {
  .gallery {
    padding: 5rem 0;
  }

  .gallery-item {
    width: 25%;
    height: 20vw;
  }
}

/*******************************
*
* footer
*
*******************************/

.footer-main {
  padding: 2rem 0;
}

.footer-column li {
  margin-bottom: 1rem;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-icon {
  font-size: 1.5rem;
}

.footer-copyright {
  font-size: 1.1rem;
  text-align: center;
  padding: 3rem;
  border-top: 1px solid #ccc;
}

@media screen and (min-width: 700px) {
  /* footer */
  .footer-main {
    padding: 5rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
