:root {
  --theme-color: rgb(162, 38, 187);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* gallery */
.gallery {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.gallery h2 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--theme-color);
}

.gallery-title {
  display: inline-block;
  padding-bottom: 2rem;
}

.img-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.5rem;
}

.img-list-item {
  overflow: hidden;
  line-height: 0;
}

.img-list-item img {
  width: 100%;
  /* cursor: pointer; */
}

.img-list-item img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s;
}

@media screen and (min-width: 600px) {
  /* gallery */
  .gallery-mid {
    padding: 0;
  }

  .img-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    padding: 0;
  }
}
