:root {
  --theme-color: rgb(162, 38, 187);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h2 {
  font-size: 30px;
  font-weight: 400;
  color: var(--theme-color);
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* form */
form {
  max-width: 600px;
  margin: 60px 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.form-group {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

label {
  padding: 15px 0 10px 0;
  /* color: var(--theme-color); */
}

input,
select,
textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.btn-right {
  text-align: right;
}

.form-btn {
  font-size: 16px;
  padding: 10px 25px;
  margin-top: 20px;
  background: var(--theme-color);
  border: 1px solid var(--theme-color);
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  /* form */
  form {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
}
