:root {
  --theme-color: #3376b9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 14px;
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* .btn-wrap {
  text-align: center;
  margin-top: 2rem;
} */

.btn-1 {
  font-size: 1.2rem;
  padding: 0.9rem 2.3rem;
  cursor: pointer;
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
  color: #fff;
  transition: 0.2s;
}

.btn-1:hover {
  background: transparent;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

.btn-overwrite-name {
  margin-top: 3rem;
}

/* form */
::placeholder {
  color: #afafaf;
  opacity: 1; /* firefox */
}

form {
  max-width: 600px;
  padding: 2rem;
  border: 1px solid #ccc;
}

form h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--theme-color);
}

.form-group {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

form label {
  padding: 0.8rem 0;
}

input,
select,
textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.btn-right {
  text-align: right;
  margin-top: 2rem;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }

  /* form */
  form {
    max-width: 600px;
    margin: 4rem auto;
    padding: 1.5rem;
    border: 1px solid #ccc;
  }
}
