:root {
  --theme-color: rgb(162, 38, 187);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* footer */
.footer-top {
  padding: 1.5rem 0;
}

.footer-list {
  margin-bottom: 1rem;
}

.footer-list h4 {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--theme-color);
}

.footer-top li {
  width: 100%;
  padding: 0.8rem 0;
  border-bottom: 1px solid #ccc;
}

.footer-top li:nth-child(1) {
  border-bottom: 1px solid var(--theme-color);
}

.footer-top a {
  color: #000;
}

.footer-top a:hover {
  color: var(--theme-color);
}

.footer-bottom {
  text-align: center;
  padding: 1.5rem;
  border: 1px solid #ccc;
}

@media screen and (min-width: 600px) {
  /* footer */
  .footer-top {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
  }

  .footer-list {
    width: 250px;
  }
}
