:root {
  --theme-color: rgb(162, 38, 187);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* services */
.services {
  padding: 2rem 0;
  display: grid;
  row-gap: 1rem;
  border-bottom: 1px solid #ccc;
}

.services h2 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--theme-color);
}

.services p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.services img {
  max-width: 100%;
  height: auto;
  /* box-shadow: 0 10px 20px 0 #8a8a8a; */
}

@media screen and (min-width: 600px) {
  /* services */
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }

  /* .services-img-left */
  /* .services-img-right */

  article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}
