:root {
  --theme-color: rgb(162, 38, 187);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 14px;
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* pricing */
.pricing {
  padding: 2rem 0;
  width: 100%;
}

.pricing-plan {
  border: 1px solid var(--theme-color);
}

.pricing-card {
  background: var(--theme-color);
  color: #fff;
  text-align: center;
  padding: 2rem 5px;
}

.pricing-header {
  font-size: 1.2rem;
  font-weight: 400;
}

.pricing-cost {
  font-size: 1.2rem;
}

.pricing-bold {
  font-size: 3rem;
  font-weight: 600;
}

.pricing-list {
  padding: 1rem 2rem;
}

.pricing-list li {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.pricing-list li:before {
  content: '\2022'; /* CSS unicode for bullet */
  color: var(--theme-color);
  font-weight: 600;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  /* pricing */
  .pricing {
    padding: 4rem 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
