* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* info */
.info {
  padding: 20px 0;
  display: grid;
  row-gap: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
  }

  article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }
}
