:root {
  --theme-color: rgb(162, 38, 187);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 16px;
}

/*
 * utilities
 */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* showcase */
.showcase {
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('images/mobile.jpg') no-repeat center;
  background-size: cover; */
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.showcase-content {
  height: 550px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.showcase h1 {
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 0 0 5px var(--theme-color);
}

.showcase p {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  text-shadow: 0 0 5px var(--theme-color);
}

.action-btn {
  font-size: 1.2rem;
  padding: 0.7rem 2.3rem;
  cursor: pointer;
  margin: 1rem 0.4rem;
}

.action-btn-1 {
  background: transparent;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

.action-btn-1:hover {
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
  color: #fff;
  transition: 0.2s;
}

/*******************************
*
* MEDIA QUERIES
*
*******************************/

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  /* showcase */
  /* .showcase {
    background: url('images/desktop.jpg') no-repeat center;
  } */
}
