:root {
  --theme-color: #3376b9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 14px;
}

/* social */
.social {
  display: flex;
  gap: 10px;
}

.social-icon {
  font-size: 3rem;
  cursor: pointer;
  color: #a0a0a0;
}
.social-icon:hover {
  color: rgb(0, 132, 255);
}
