:root {
  --theme-color: #3376b9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: cabrito-normal, sans-serif; */
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 16px;
}

/*
 * utilities
 */

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.section-bg {
  background-color: #fffaf1;
}

.btn-1 {
  font-size: 1.2rem;
  padding: 0.9rem 2.3rem;
  cursor: pointer;
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
  color: #fff;
  transition: 0.2s;
}

.btn-1:hover {
  background: transparent;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

.btn-overwrite-name {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
}

/* mid */
.mid {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4rem 0 5rem 0;
}

.mid h2 {
  margin-bottom: 2rem;
  font-size: 2.3rem;
  font-weight: 400;
}

.mid form {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
  gap: 1rem;
}

.mid input {
  padding: 1rem;
  font-size: 1.2rem;
}

.mid p {
  font-size: 1.2rem;
  /* text-shadow: 0 0 5px var(--theme-color); */
}

/*******************************
*
* MEDIA QUERIES
*
*******************************/

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }

  .mid form {
    display: flex;
    flex-flow: row nowrap;
  }

  .mid input {
    width: 350px;
  }
}
